@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&family=Work+Sans:wght@100;300;700&display=swap');
@import url(./menu.css);
@import url(./card.css);
@import url(./footer.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(214,235,228);
    background: linear-gradient(23deg, rgba(214,235,228,1) 35%, rgb(220, 221, 248) 81%);
}